/* body{
    background-image: url('https://i.imgur.com/DNQFJKf.jpg');
    background-attachment: fixed;
    background-position: top center;
    background-size: contain;
    font-family: 'ABeeZee', sans-serif;
} */


.info{
    height: 25rem;
    padding-bottom: 1rem;
}


.logo{
    height: 200px;
}

#grid {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding-left: 0; /* Clears unordered list default of 40px */
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: #fd005f;
    overflow: hidden;
    visibility: hidden;
}


#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li { 
    margin-left: 1.25%;
}


#grid li * {
    visibility: visible;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.text-muted {
    padding-top: .6rem;
    font-size: 1rem;
    text-align: center;
}